.avatar-question {
	border-radius: 50%;
	max-height: 80px;
	height: 80px;
	float: left;
	margin-right: 12px;
	margin-top: 5px;
	vertical-align: middle;
}

.media-body-question {
	border-left: solid 1px #ccc;
}
